<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/m"
        android:label="@string/app_name"
        android:roundIcon="@drawable/m"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodPlanner"
        tools:targetApi="31">

        <activity android:name=".screens.sharedMainActivity.BasicSharedScreen.view.MainScreenActivity"></activity>
        <activity android:name=".screens.sharedMainActivity.search.Ingredients.View.SearchIngretents"></activity>
       <activity android:name=".screens.sharedMainActivity.search.Area.View.AreaMealsActivity"></activity>
        <activity
            android:name=".screens.sharedMainActivity.search.Area.View.AreaActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            >
        </activity>
        <activity android:name=".screens.sharedMainActivity.search.Categry.View.CategoryListActivity"></activity>
        <activity android:name=".screens.sharedMainActivity.search.Categry.View.CategoryMealsActivity"></activity>
        <activity android:name=".screens.logIn.view.loginActivity"></activity>
        <activity android:name=".screens.logIn.view.loginEnterUser"></activity>
        <activity android:name=".screens.signUp.view.signUPActivity"></activity>
        <activity android:name=".SplashScreenActivity"></activity>
        <activity android:name=".screens.Card.view.ChossePlannedDay"></activity>
        <activity android:name=".screens.Card.view.MealCardActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>